* { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  * { font-family: 'Inter var', sans-serif; }
}

body, html{
    margin: 0;
    padding: 0;
}
.hidden{
    display: none !important;
}
h1{
    color:white;
    font-size: 64px;
}
.winner{
    display: grid;
    place-items: center;
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100vw;
}
.winner button{
    background-color: green;
    font-size: 70px;
}
.cheat{
    display: grid;
    place-items: center;
    position: absolute;
    bottom:10px;    
    right:10px;
    z-index: 1;
}