body, html{
    margin: 0;
    padding: 0;
}
.hidden{
    display: none !important;
}
h1{
    color:white;
    font-size: 64px;
}
.winner{
    display: grid;
    place-items: center;
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100vw;
}
.winner button{
    background-color: green;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif
}